html,
body,
material-app,
md-sidenav-container,
.my-content {
    margin: 0;
    width: 100%;
    height: stretch;
    overflow: overlay;
}

.glyphicon-menu-hamburger {
    font-size: 25px;
    margin: 8px;
}

li button {
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
}

.navbar-brand {
    padding: 0px;
}

#appTitle {
    padding-top: 16px;
    margin-left: 1px;
}

.navbar-brand>img {
    height: 100%;
    padding: 3px;
    width: auto;
}

.brand-centered {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}

.brand-centered .navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-toggle {
    z-index: 1;
}

.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 50px;
    overflow: hidden;
}

.mat-drawer-container{
    max-height: calc(100vh - 172px);
}


/* 
.nav-bar-container {
    position: absolute;
    top: 70px;
    bottom: 50px;
    left: 0;
    right: 0;
} */