select{
    width: 15%;
    margin-left: 0.5%;
}

.conditon{
    background: #f7f7f7;
    border-style: groove;
    margin-bottom: 13px;
    position: relative;
}
label{
    margin-left: 6%;
}

.downButtons{
    margin-top: 7px;
    margin-bottom: 20px; 
}

.buttons{
    margin-bottom: 9px;
    margin-left: 5px;
}

.conditionsButtons{ 
    margin-top: 12px;
}

input{
    height: 20px;
}

.smallSelect{
    width: 4%;
}


.logicArray{
    margin-bottom: 12px;
    width: 4%;
}

.header{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 8px;
}

.delete{
    margin-top: 2%;
    margin-right: 8px;
    position: absolute;
    right: 66%;
    font-size: 16px;
    color: red;
}

.subCategory { 
    margin-left: 9%;
}

.result{
    margin-bottom: 5px;
    margin-left: -71px;
    word-wrap: break-word;
    width: 97%;
}

