<query-builder [(ngModel)]='query' [config]='config'>
    <ng-container *queryField="let rule; let fields=fields; let changeField=changeField">
        <div class="selectInputs">
            <select class="form-control" (change)="onChangeCategory(rule, $event.target.value)">
                <option disabled selected value></option>
                <option *ngFor="let catrgory of catrgories" [value]="catrgory">
                    {{ catrgory }}
                </option>
                </select>

            <select class="form-control" [(ngModel)]="rule.field" (ngModelChange)="changeField($event, rule)">
                <option *ngFor="let field of fields | fieldFilter:rule['category']" [value]="field.value">
                    {{ field.name }}
                </option>
            </select>
        </div>
    </ng-container>
</query-builder>
<div class="downButtons">
    <button class="btn btn-primary" (click)='run()'>Run</button>
</div>