<query-builder [(ngModel)]='query' [config]='config'>
  
    <ng-container *queryField="let rule; let fields=fields; let changeField=changeField">
     
        <mat-form-field>
            <select >
              <option *ngFor="let catrgory of catrgories" [value]="catrgory">{{catrgory}}</option>
            </select>
          </mat-form-field>

        <!-- <mat-form-field>
          <select [(ngModel)]="rule.field" (ngModelChange)="changeField($event, rule)">
            <option *ngFor="let field of fields" [value]="field.value">{{field.name}}</option>
          </select>
        </mat-form-field> -->
      </ng-container>

</query-builder>
<div class="downButtons">
    <button class="btn btn-primary" (click)='run()'>Run</button>
</div>