<!-- <div class="query" *ngFor="let query of queries; let queryIndex = index ">
    <div>
        <h3>{{query.title}}</h3>
        <p>{{query.description}}</p>
    </div>
    <div>
        <p>{{query.query}}</p>
    </div>
    <div class="buttons" >
        <button class="	glyphicon glyphicon-trash" title="delete query" (click)="deleteQuery(queryIndex)"></button>
        <button class="glyphicon glyphicon-pencil" title="edit query" (click)="editQuery(queryIndex)"></button>
        <button class="	glyphicon glyphicon-arrow-right" title="show patients" (click)="showPatients(queryIndex)"></button>
    </div>

</div>

<div>
        <button class="btn btn-primary " (click)="buildNewQuery()">Build New Query</button>
</div> -->